<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Fine Reductions</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav>
        <a href="/#main">
            <img class="logo" src="static/uhulumeni-logo.svg" alt="">              
        </a>
        <img src="static/menu-icon.svg" alt="" class="menu">  
        <div class="links">
            <a href="/#about-us">"Who Are We?"</a>
            <a href="/#services">"Services."</a>
            <a href="/#why-choose-us">"Why Choose Us?"</a>
            <a href="/learners-test-bookings">"Learners Test Bookings."</a>
            <a href="/traffic-fine-reductions">"Traffic Fine Reductions."</a>
            <a href="/traffic-fine-enquiries">"Traffic Fine Enquiries."</a>
            <a href="#contact-us">"Contact Details."</a>
        </div>
    </nav>
    <section id="learners">
        <div class="container">
            <h1>"Traffic Fine Reductions."</h1>
            <p>Our ticket reduction service combines AI with our young team to save you money 💰 on your traffic tickets.</p>
            <p>From speeding tickets to the minor mistakes, our young team will plead your case so you can stay law abiding 😇 without going broke.</p>
            <h2>How it works?</h2>
            <ol>
                <li>Send us a WhatsApp to <b>lodge an enquiry</b> and pay R50 so we can search 🔎 for all your outstanding tickets.</li>
                <li>We send you all your pending tickets. 🥲</li>
                <li>Select the tickets you would like us to reduce. <b>We will reduce 1 ticket for free!</b> ✅ Additional reductions are charged at R50 each.</li>
                <li>Receive your reduced tickets within 7 days of payment. 😄</li>
                <li>Additionally we will also send you the correct banking details for ticket payment and communicate with the department to ensure your record gets cleared for free! ✅ </li>
            </ol>
            <a href="https://wa.me/27774111866?text=Hey,%20Can%20you%20please%20reduce%20my%20tickets.">
                <button> Lodge Enquiry </button>
            </a>
        </div>
    </section>
    <section id="partners">
        <div class="container">
            <h2>In Partnership With</h2>
            <div class="partners">
                <div class="img-container">
                    <img src="/static/partners/payfast.svg" alt="">
                    <img src="/static/partners/verified.png" alt="">  
                    <img src="/static/partners/mastercard.png" alt="">
                    <img src="/static/partners/apple.png" alt="">
                    <img src="/static/partners/samsung.png" alt="">
                    <img src="/static/partners/payfast.svg" alt="">
                    <img src="/static/partners/verified.png" alt="">  
                    <img src="/static/partners/mastercard.png" alt="">
                    <img src="/static/partners/apple.png" alt="">
                    <img src="/static/partners/samsung.png" alt="">
                    <img src="/static/partners/payfast.svg" alt="">
                    <img src="/static/partners/verified.png" alt="">  
                    <img src="/static/partners/mastercard.png" alt="">
                    <img src="/static/partners/apple.png" alt="">
                    <img src="/static/partners/samsung.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="terms-and-conditions">
        <div class="container">
            <h2>Terms and Conditions</h2>
            <div class="term">
                <p><b>1. Enquiry & Payment</b></p>
                <p>An enquiry fee of R50 is required to check for pending traffic tickets. Your enquiry will only be processed once proof of payment is received. We only take online payments.</p>
            </div>
            <div class="term">
                <p><b>2. Refunds</b></p>
                <p>All payments are non-refundable under any circumstances, including but not limited to, no tickets found after enquiry, client cancellations, municipal system delays or failures.</p>
            </div>
            <div class="term">
                <p><b>3. Ticket Reduction</b></p>
                <p>One ticket will be reduced free of charge. Each additional ticket reduction is charged at R50 per ticket. Reductions are processed only after full payment for selected tickets is received. </p>
            </div>
            <div class="term">
                <p><b>4. Processing Time</b></p>
                <p>Reduced tickets will be sent to the client within 7 working days from payment confirmation. While Uhulumeni strives to meet these timelines, delays caused by municipal systems are beyond our control.</p>
            </div>
            <div class="term">
                <p><b>5. Client Responsibility</b></p>
                <p>Clients must provide accurate details (ID number or number plate). Any incorrect or incomplete details provided may affect the results and Uhulumeni will not be held liable.</p>
            </div>
            <div class="term">
                <p><b>6. Liability</b></p>
                <p>Uhulumeni is not responsible for the issuance of traffic tickets or the accuracy of municipal records. Our role is limited to assisting with ticket enquiries and reductions. We cannot guarantee a specific percentage or amount of reduction, as this depends on municipal systems and regulations.</p>
            </div>
            <div class="term">
                <p><b>7. Confidentiality</b></p>
                <p>All client information and documents submitted will be treated as strictly confidential. Information will be used only for the purpose of processing traffic ticket enquiries and reductions.</p>
            </div>
            <div class="term">
                <p><b>8. Accuracy</b></p>
                <p>Uhulumeni retrieves ticket information exclusively from the PayCity database. Most tickets listed on PayCity are also flagged during roadblocks,  but not all tickets may be loaded on the PayCity database at the time of enquiry. Therefore, Uhulumeni does not guarantee that we will find all your tickets, and cannot be held liable for any tickets missed.</p>
            </div>
    </section>
    <footer id="contact-us">
        <div class="container">
            <img src="static/uhulumeni-logo-white.svg" alt="" class="footer-logo">
            <div class="social-links">
                <a href="https://wa.me/27774111866"><img src="/static/whatsapp.svg" alt=""></a>
                <a href="https://www.instagram.com/uhulumeniii?igsh=MTNsMGxqNmNodHVyaA=="><img src="/static/instagram.svg" alt=""></a>
                <a href="https://www.facebook.com/share/1F8dSrcz9L/"><img src="/static/facebook.svg" alt=""></a>
                <a href="https://www.tiktok.com/@uhulumeniii?_t=ZS-8zatWWNh5ce&_r=1"><img src="/static/tiktok.svg" alt=""></a>
            </div>
            <div class="comp-details">
                <a class="footer-no" href="tel:+27774111866">📞 +27 77 411 1866</a>
                <a class="footer-email" href="mailto:admin@uhulumeni.com">✉ admin@uhulumeni.com</a>
                <div class="footer-address">📍 Nelspruit, Mbombela, 1200</div>
            </div>
            <div class="discl-copy">
                <p>© 2025 Uhulumeni (Pty) Ltd. All Rights Reserved.</p>
            </div>
        </div>
    </footer>        
</body>
<script>
    // Add any JavaScript functionality here if needed
    document.querySelector('.menu').addEventListener('click', function() {
        const links = document.querySelector('.links');
        links.classList.toggle('active');
    });
    document.querySelector('.links').addEventListener('click', function() {
        const links = document.querySelector('.links');
        links.classList.toggle('active');
    });
    const menu = document.querySelector('.links');
    const menuIcon = document.querySelector('.menu');
    document.addEventListener('click', (e) => {
        if (
            menu.classList.contains('active') &&
            !menu.contains(e.target) &&
            !menuIcon.contains(e.target)
        ) {
            menu.classList.remove('active');
        }
    });
    document.addEventListener("DOMContentLoaded", () => {
        const elements = document.querySelectorAll(".container > *");

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add("visible");
            } else {
                // Uncomment if you want them to hide again when scrolled out
                entry.target.classList.remove("visible");
            }
            });
        }, {
            threshold: 0.1 // 10% of element visible before triggering
        });

        elements.forEach(el => observer.observe(el));
    });
</script>
</html>